@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-main-black text-lg leading-[1.4];
  /* cursor: none !important; */
}

a {
  @apply block;
}

p {
  @apply leading-[140%] font-light;
}

h1 {
  @apply text-[10.5vw] leading-[90%] font-bold;
}

/* Custom cursor */
#cursor {
  @apply h-[25px] w-[25px] lg:hidden absolute top-[-300px] left-[-300px] z-10 rounded-full border border-black;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  #cursor {
    @apply hidden;
  }
}

/* Main navigation bar */

#burger {
  @apply flex flex-col justify-center items-end;
}

.top {
  @apply w-9 h-[2px] border border-black;
}

.bottom {
  @apply w-[56%] h-[2px] mt-[9px] border border-black;
  transition: width 0.5s;
}

#burger:hover .bottom {
  @apply w-full;
}

.main-nav {
  @apply py-10 px-[4.15vw] fixed right-0 left-0 z-50;
}

@media screen and (max-width: 991px) {
  .main-nav {
    @apply px-[1.875rem];
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    @apply p-6;
  }
}

@media screen and (max-width: 479px) {
  .main-nav {
    @apply px-4;
  }
}

@media screen and (min-width: 1920px) {
  .main-nav {
    @apply py-[2.22vw] px-[6vw];
  }
}

/* Main menu */
#main-menu {
  @apply hidden fixed top-0 bottom-0 right-0 left-0 z-40 overflow-y-scroll bg-main-black;
}

.menu-links {
  @apply pt-[15vw] pb-[10vw] flex flex-col justify-center;
}

@media screen and (max-width: 991px) {
  .menu-links {
    @apply pt-[20vw] pb-[12vw];
  }
}

@media screen and (max-width: 767px) {
  .menu-links {
    @apply pt-[15vw] pb-[10vw];
  }
}

@media screen and (max-width: 479px) {
  .menu-links {
    @apply h-[85vh] pt-[8vh] pb-0;
  }
}

#main-menu .sm {
  @apply ml-auto flex flex-col items-end gap-1 pr-[4.15vw] fixed top-[50%] right-0 text-sm font-medium text-white;
}

@media screen and (max-width: 991px) {
  #main-menu .sm {
    @apply pr-[1.875rem];
  }
}

@media screen and (max-width: 767px) {
  #main-menu .sm {
    @apply pr-6;
  }
}

@media screen and (max-width: 479px) {
  #main-menu .container {
    @apply flex-col;
  }

  #main-menu .sm {
    @apply ml-0 pr-0 flex-row justify-center gap-8 static;
  }
}

@media screen and (min-width: 1920px) {
  #main-menu .sm {
    @apply pr-[6vw] gap-2 text-[0.78vw];
  }
}

.menu-link {
  @apply max-w-3xl mx-auto my-[3.75rem] font-bold;
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
}

.menu-link:hover {
  @apply text-white;
}

@media screen and (max-width: 767px) {
  .menu-link {
    @apply my-10;
  }
}

@media screen and (max-width: 479px) {
  .menu-link {
    @apply my-5;
  }
}

.menu-link-number {
  @apply mb-[1.3125rem] leading-[90%];
}

@media screen and (max-width: 479px) {
  .menu-link-number {
    @apply mb-2 text-[0.75rem];
  }
}

.menu-link-title {
  @apply text-[9vw] leading-[90%];
}

@media screen and (max-width: 991px) {
  .menu-link-title {
    @apply text-[12vw];
  }
}

@media screen and (max-width: 479px) {
  .menu-link-title {
    @apply text-[2rem];
  }
}

/* Main menu clicked */
#main-menu.menu-clicked {
  @apply flex justify-center;
}

.main-nav.menu-clicked {
  @apply text-white;
}

.main-nav.menu-clicked .top,
.main-nav.menu-clicked .bottom {
  @apply border-white;
}

#cursor.menu-clicked {
  @apply border-white;
}

/* Hero */

.hero-container {
  @apply pt-20 pb-10 px-[8.33vw] flex flex-col gap-52;
}

@media screen and (max-width: 1470px) {
  .hero-container {
    @apply gap-64;
  }
}

@media screen and (max-width: 1280px) {
  .hero-container {
    @apply gap-72;
  }
}

@media screen and (max-width: 991px) {
  .hero-container {
    @apply pt-28 pb-[3.75rem] px-[1.875rem] gap-0;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    @apply px-6;
  }
}

@media screen and (max-width: 479px) {
  .hero-container {
    @apply pb-[3.125rem] px-4;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    @apply px-[8.33vw];
  }
}

@media screen and (min-width: 1920px) {
  .hero-container {
    @apply px-[12vw];
  }
}

.hero-container h1 {
  -webkit-text-stroke: 3px #222;
}

@media screen and (max-width: 991px) {
  .hero-container h1 {
    @apply text-[14vw];
  }
}

@media screen and (max-width: 479px) {
  .hero-container h1 {
    @apply text-[15vw] font-extrabold;
    -webkit-text-stroke: 1px #222;
  }
}

@media screen and (min-width: 1920px) {
  .hero-container h1 {
    @apply text-[10vw];
  }
}

.hero-container .amp {
  @apply text-[12vw];
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 991px) {
  .hero-container .amp {
    @apply text-[15.5vw];
  }
}

@media screen and (max-width: 479px) {
  .hero-container .amp {
    @apply text-[17.5vw];
  }
}

.hero-container p {
  @apply max-w-md mt-[1.125rem] mb-7;
}

@media screen and (max-width: 991px) {
  .hero-container p {
    @apply max-w-[57vw];
  }
}

@media screen and (max-width: 767px) {
  .hero-container p {
    @apply max-w-none;
  }
}

.hero-container .keywords {
  @apply mt-8 flex items-center gap-5 relative z-10 text-sm font-semibold text-[rgba(34,34,34,0.6)];
}

@media screen and (max-width: 479px) {
  .hero-container .keywords {
    @apply gap-4;
  }
}

.hero-container .keywords-circle {
  @apply w-1 h-1 rounded-full bg-[rgba(34,34,34,0.6)];
}

@media screen and (max-width: 991px) {
  .hero-container .keywords {
    @apply mt-[3.75rem];
  }
}

@media screen and (max-width: 479px) {
  .hero-container .keywords {
    @apply mt-[3.125rem];
  }
}

@media screen and (min-width: 1920px) {
  .hero-container .keywords {
    @apply text-[0.78vw];
  }
}

.hero-img-container {
  @apply w-[51vw] h-[55vh] absolute bottom-0 right-0 bg-[#f5f5f5];
}

@media screen and (max-width: 991px) {
  .hero-img-container {
    @apply w-[41vw] h-[58%];
  }
}

@media screen and (max-width: 479px) {
  .hero-img-container {
    @apply w-[52vw] h-[52%];
  }
}

@media screen and (min-width: 1440px) {
  .hero-img-container {
    @apply w-[51vw] h-[58vh];
  }
}

@media screen and (min-width: 1920px) {
  .hero-img-container {
    @apply w-[47vw];
  }
}

.hero-img-container img {
  @apply h-[125vh] max-w-none absolute bottom-0 z-30;
}

@media screen and (max-width: 1440px) {
  .hero-img-container img {
    @apply -left-[10%];
  }
}

@media screen and (max-width: 1280px) {
  .hero-img-container img {
    @apply -left-[15%];
  }
}

@media screen and (max-width: 991px) {
  .hero-img-container img {
    @apply h-[222%] max-w-none left-[10%];
  }
}

@media screen and (max-width: 767px) {
  .hero-img-container img {
    @apply h-[210%] opacity-50 -left-[10%];
  }
}

@media screen and (max-width: 479px) {
  .hero-img-container img {
    @apply h-[220%] -left-[10%];
  }
}

@media screen and (min-width: 1440px) {
  .hero-img-container img {
    @apply h-[119vh] absolute bottom-0 z-30;
    transform: translate(-3%, 0);
  }
}

@media screen and (min-width: 1920px) {
  .hero-img-container img {
    transform: translate(-5%, 0);
  }
}
